@import "header.css";
@import "responsive.css";
@import "mobile.css";
/***************PORTFOLIO PAGE***************/
.page-portfolio {
  background-image: url("https://jldeveloper.github.io/JLDeveloper/images/portfolio/background-image.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: bold;
}
.infobox {
  background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
  background: rgba(54, 75, 95, .9);
  border: 5px solid black; /*width-style-color*/
  border-radius: 25px;
  position: relative;
}
.infobox p {
  color: white;
  margin: 0 auto;
  border-color: black;
}
.infobox table {
  margin: 0 auto;
}
.logo {
  padding: 10px;
  border: 0;
  position: relative;
  top: 80px;
  left: -250px;
}
.basicinfo-text { /*need to research column-gap*/
  padding: 30px;
}
.basicinfo-answers {
  font-size: 28px;
}
.infobox #skills {
  /*needs to be formatted to fit content*/
}
#profile-pic {
    width: 256px;
    height: 285.28px;
    border-style: outset;
    border-radius: 10px;
}
#tamu-pic {
  width: 257.5px;
  height: 221.625px;
  padding: 0px;
  border: 5px solid black;
  border-radius: 10px;
}
#degree {
  font-size: 20px;
}
#section-title {
	color: white;
	font-family: Georgia, serif;
	font-size: 30px;
	font-weight: bold;
	position: relative;
    margin: 0 auto;
	text-align: center;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  padding-top: 80px;
  width: 100%;
  height: 100%;
}
.content p { /*for back-to-top button*/
  margin-bottom: 10px;
}
.back-button {
	display: inline-block;
	position: fixed;
	bottom: 10px;
	right: 20px;
	/*text-indent: -9999px;*/
}
/***************COMING SOON***************/
#coming-soon {
  text-align: center;
  font-weight: bold;
  color: white;
  border: 1px solid white;
  font-size: 50px
}
/*.back_button {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
}*/
/***************PROJECTS PAGE***************/
.page-projects {
  background-image: url("https://jldeveloper.github.io/JLDeveloper/images/starwars/star-background.jpg");
  background-color: #000000;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}
/***************CONTACT PAGE***************/
.page-contact {
  background-image: url("https://jldeveloper.github.io/JLDeveloper/images/starwars/star-background.jpg");
  background-color: #000000;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}
/***************STAR WARS PAGE***************/
.page-starwars {
  background-image: url("https://jldeveloper.github.io/JLDeveloper/images/starwars/star-background.jpg");
  background-color: #000000;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}
/***************MISTBORN***************/
.page-mistborn {
  background-image: url("https://jldeveloper.github.io/JLDeveloper/images/starwars/star-background.jpg");
  background-color: #000000;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}
